@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base{
    h1 {
        @apply
        font-bold 
        mx-auto
        lg:text-6xl 
        xl:text-7xl 
        md:text-5xl 
        sm:text-4xl
    }

    p {
        @apply
        sm:text-base
        md:text-lg
        lg:text-xl 
    }
}


@layer components {
    .footer-link {
        @apply
        block 
        hover:underline
    }

    .main-content {
        @apply
        outline 
        outline-offset-4 
        outline-4 
        mt-20 
        mx-20  
        p-10
    }

    .nav {
        @apply 
        sm:text-base 
        md:text-lg 
        lg:text-lg
        xl:text-lg
        hover:underline
        
    }
}
